{% extends 'base.html.twig' %}

{% block title %}Apuestas UFC{% endblock %}

{% block body %}
<body>
    <br>
    <div class="container">
        <div class="hero__slider owl-carousel">
        {% for evento in eventos %}
            <div class="hero__items set-bg" data-setbg="{{ asset('img/'~ evento.imagen ) }}">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hero__text">
                            <h2>{{evento.fecha|date("d/m/Y")}}</h2>
                            <p>{{evento.localidad}}</p>
                            <a href="{{ path('app_evento_combates', {'id': evento.id }) }}"><span>Apostar</span><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}    
        </div>
    <div class="container">
</body>
{% endblock %}