<form method="post" action="{{ path('app_combate_delete', {'id': combate.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ combate.id) }}">
    <button class="btn">Delete</button>
</form>
